
    body{
        text-align: center;
        margin: 40px;
        background:#A894B4;
    }   
    
    
    form{
        margin-top: 60px;
        transition: all 4s ease-in-out;
    }
    
    
    .control{
        width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: red;
    font-size: 18px;
    margin-bottom: 16px;
    }
    
    .submit{
        width: 160px;
    }
.submit:hover{
    background-color: #f44336;
    cursor: pointer;
    width: 160px;
}
    .text{
        margin-left: 58px;
    }
    
